.content-text {
    margin-top: 2;
    font-family: "Bad Script", cursive;
}

.content-title {
    font-family: "Bad Script", cursive;
}

.footer-text li {
    font-family: "Manjari", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.footer-title {
    font-family: "Manjari", sans-serif;
    font-weight: 100;
    font-style: normal;
}